html,
body {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-family: Arial;
  text-align: center;
}

#rubix-cube {
  text-align: center;
}

.faces {
  margin: 50px;
}

.top-row {
  position: relative;
  right: 0px;
  top: 10px;
  right: 44px;
}

.mid-row {
  position: relative;
  left: 34px;
}

.bottom-row {
  position: relative;
  right: 0px;
  bottom: 5px;
  right: 44px;
}

.top-row .top-row-item,
.mid-row .mid-row-item,
.bottom-row .bottom-row-item {
  display: inline-block;
}

table {
  border-spacing: 0;
}

table th,
td {
  padding: 0;
}

.face-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

.rotate-button {
  width: 50px;
  height: 50px;
  margin: 0 25px 5px 25px;
  cursor: pointer;
}
